{% load static %}

<!-- FEEDBACK MODAL -->
<!--<div id="feedback-tab" class="rounded" data-toggle="modal" data-target="#feedback-modal">
    <a href="#">feedback</a>
</div>-->
<div id="feedback-modal" class="modal hide fade">
    <form class="form-horizontal" id="feedback-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Feedback</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
              <label class="control-label" for="name">Full Name</label>
              <div class="controls">
                <input class="input-xlarge" type="text" name="name" placeholder="Full Name"
                    {% if user.is_authenticated %}
                    value="{{user.first_name}} {{user.last_name}}"
                    {% endif %}
                required>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="email">Email Address</label>
              <div class="controls">
                <input class="input-xlarge" type="email" name="email" placeholder="Email Address"
                {% if user.is_authenticated %}
                value="{{user.email}}"
                {% endif %}
                required>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="comment">Comment</label>
              <div class="controls">
                  <textarea id="feedback-area" class="input-xlarge" rows="3" name="comment" required></textarea>
              </div>
            </div>

        </div>
        <div class="modal-footer">
            <button href="#" class="btn" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send Feedback</button>
        </div>
  </form>
</div>

<!-- Layer Add MODAL -->
{% if user.is_staff %}
<div id="add-layer-modal" class="modal hide fade">
    <div class="modal-header" style="min-height: 20px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add a Layer to Marine Planner</h3>
    </div>
    <div class="modal-body" data-bind="if: newLayer">
      <div class="row-fluid" data-bind="with: newLayer">
          <form class="form-horizontal" data-bind="submit: $root.createLayer">
            <div class="control-group">
              <label class="control-label" for="inputEmail">Name</label>
              <div class="controls">
                <input type="text" placeholder="Name" required data-bind="value: name">
                 <i class="icon-info-sign" data-content="The name of the data layer that you want to display on the map viewer."></i>
              </div>
            </div>
            <div class="control-group">
                <label class="control-label">Type</label>
                <div class="controls">
                    <select data-bind="value: layer_type">
                      <option value="ArcRest">ArcRest</option>
                      <option value="XYZ">XYZ</option>
                      <option value="WMS">WMS</option>
                    </select>
                    <i class="icon-info-sign" data-content="The service type of the data layer to be added. ArcREST is the appropriate type for ESRI ArcGIS service layers. XYZ is appropriate for ?. WMS is appropriate for web mapping service data layers."></i>
                </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">URL</label>
              <div class="controls">
                <input type="text" placeholder="URL" data-bind="value: url">
                <i class="icon-info-sign" data-content="The full URL of the data layer. If the layer is an ArcREST layer, do not include the layer ID."></i>
              </div>
            </div>
            <div class="control-group" data-bind="visible: layer_type() == 'ArcRest'">
              <label class="control-label" for="inputPassword">ArcGIS Layers</label>
              <div class="controls">
                <input type="text" placeholder="ArcGIS Layers" data-bind="value: arcgis_layers">
                <i class="icon-info-sign" data-content="The layer ID."></i>
              </div>
            </div>
            <div class="control-group" data-bind="visible: layer_type() == 'WMS'">
              <label class="control-label" for="inputPassword">WMS Layer Name</label>
              <div class="controls">
                <input type="text" placeholder="WMS Layer Name" data-bind="value: wms_slug">
                <i class="icon-info-sign" data-content="The WMS layer slug."></i>
              </div>
            </div>

            <div class="control-group">
                <label class="control-label">Theme</label>
                <div class="controls">
                    <select data-bind="options: $root.themes, value: theme, optionsText: 'name'">
                    </select>
                    <i class="icon-info-sign" data-content="Select the theme that the data layer will fall under."></i>
                </div>
            </div>
          </form>
      </div>
    </div>
    <div class="modal-footer">
        <button href="#" class="btn" data-dismiss="modal">Cancel</button>
        <button href="#" class="btn btn-primary" data-dismiss="modal" data-bind="click: $root.createLayer">Save</button>
    </div>
</div>

{% endif %}
<!-- HELP MODAL -->

<div id="help-modal" class="modal hide fade">
    <div class="modal-header" style="min-height: 20px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body" style="text-align: center">
      <div class="row-fluid">
        <div class="span12" data-bind="style: {display: hideTours() ? 'none': 'block'}, css: {span12: !hideTours()}">
            <h4>
              Tour {% if project_name %}
              {{ project_name }}
              {% else %}
              Marine Planner
              {% endif %}
            </h4>
            <div style="text-align: center">
            <ul class="unstyled" style="margin-left: 1px">
                <li><a href="#" data-dismiss="modal" data-bind="click: startDefaultTour">Tour the Basics</a></li>
                <li><a href="#" data-dismiss="modal" data-bind="click: startDataTour">Tour the Data Tab</a></li>
                <li><a href="#" data-dismiss="modal" data-bind="click: startActiveTour">Tour the Active Tab</a></li>
                <li><a href="#" data-dismiss="modal" data-bind="click: startReportTour">Tour the Reporting Tool Tab</a></li>
            </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button href="#" class="btn" data-dismiss="modal">Close</button>
    </div>
</div>

<!-- REPORT TOOL TUTORIAL MODAL -->
<div id="report-tutorial-modal" class="modal hide fade" role="dialog">
    <div class="modal-header" style="min-height: 20px;">
        REPORTING TOOL TUTORIAL
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
    </div>
    <div class="modal-body" style="text-align: center" id="report-tutorial-modal-body">
      <div class="row-fluid" id="report-tutorial-primary-row">
        <div class="span12" id="report-tutorial-container">
          <div class="row-fluid" id="report-tutorial-header-wrapper">
            <div class="span3" id='tool-tutorial-step-1'>
              <h4>Drawing</h4>
            </div>
            <div class="span3" id='tool-tutorial-step-2'>
              <h4>Editing</h4>
            </div>
            <div class="span3" id='tool-tutorial-step-3'>
              <h4>Name/Description</h4>
            </div>
            <div class="span3" id='tool-tutorial-step-4'>
              <h4>Report</h4>
            </div>
          </div>
          <div class="row-fluid" id='tool-tutorial-view-wrapper'>
            <div class="span12" id='tool-tutorial-view-window'>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



<!-- DESIGN SHARE MODAL -->

<div id="share-modal" class="modal hide fade" data-bind="with: app.viewModel.scenarios">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Sharing</h3>
    </div>
    <div class="modal-body" style="height: 200px; text-align: center; overflow: hidden;">
        <div class="row-fluid">
            <h4 class="sharing-header">Share my design with the following:</h4>
            <ul class="unstyled" id="sharing-groups" style="margin-left: 1px; height: 165px; outline: none;">
                <span data-bind="foreach: sharingGroups">
                    <li data-bind="click: $parent.toggleGroup">
                        <div style="text-align: left; margin-left: 50px; cursor: pointer;">
                            <div>
                                <!--<input type="checkbox" style="margin-top: 0px; margin-bottom: 2px; margin-right: 3px;">-->
                                <i class="check icon-large icon-check" data-bind="visible: $parent.groupIsSelected(group_name)"></i>
                                <i class="check icon-large icon-check-empty" data-bind="visible: !$parent.groupIsSelected(group_name)"></i>
                                <span data-bind="text: group_name"></span>
                                <a class="group-members-popover" rel="popover" data-bind="attr: {'data-content': $parent.groupMembers(group_name)}" data-original-title="Members">
                                    <i class="icon-group"> </i>
                                </a>
                            </div>
                        </div>
                    </li>
                </span>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button href="#" class="btn" data-bind="click: cancelShare" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn-submit btn" data-bind="click: submitShare" data-dismiss="modal">Share</button>
    </div>
</div>

<!-- DESIGN MAP LINKS MODAL -->

<div style="display:none; width: 450px;" id="map-links-modal" class="modal hide fade" data-bind="with: app.viewModel.mapLinks">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Map Links</h3>
    </div>

    <div class="modal-body" style="height: 165px; overflow: hidden">
        <div class="row-fluid" style="padding-top: 5px">
            <div>
                Share this map with others
                <!-- IF URL Shortener
                <span class="pull-right">
                    <label data-bind="visible: showShrinkOption">
                        <input class="short-url-checkbox" type="checkbox" data-bind="checked: shrinkURL" style="margin-top: 0px; margin-bottom: 3px">
                        Short URL
                    </label>
                </span>
                -->
            </div>
            <div>
                <input id="short-url" type="text" style="width: 96%" data-bind="attr: {value: getURL()}">
            </div>
            <!--
            <div style="padding-top: 12px; padding-bottom: 5px">
                Embed this map in your own webpage
            </div>
            <div>
                <input id="iframe-html" type="text" style="width: 96%" data-bind="attr: {value: getIFrameHTML}">
            </div>
            <div style="margin-top: -4px">
                <a href="#" data-bind="click: openIFrameExample">
                    Preview embedded map
                </a>
            </div>
          -->
        </div>
    </div>
    <div class="modal-footer">
        <button href="#" class="btn" data-dismiss="modal">Close</button>
    </div>
</div>

<!-- Disclaimer Modal -->
<div id="disclaimer-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Disclaimer</h4>
      </div>
      <div class="modal-body">
        <div class="row-fluid">
          <div class="span12">
            <img src="{% static 'compass/img/CompassAndODFW_BW_green.png' %}">
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
              {{ content.disclaimer.content|safe|escape }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Agree</button>
        <a href="http://www.dfw.state.or.us/" class="btn btn-default">Decline</a>
      </div>
    </div>

  </div>
</div>

<!-- Export Strategy Report Modal -->
<div id="exportModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="exportStrategyReportLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="exportStrategyReportLabel">Export Strategy Report</h3>
  </div>
  <div class="modal-body">
    <h3 id="strategy-report-export-title"></h3>
    <p>Export your Strategy Report:</p>
    <a class="btn" id="strategy-report-export-csv-button">Download Spreadsheet</a>
    <form id="invisible_form" action="/drawing/get_report_print/" method="post" target="_blank">
      {% csrf_token %}
      <input id="report_data_field" name="parameter" type="hidden" value="default">
      <input type='submit' value='View Printable Report' class="btn" id="strategy-report-export-printable-button">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
