<!--<div id="help-tab" class="rounded" data-bind="style: {visibility: hideTours() ? 'hidden': 'visible' }">
    <a href="#">tour</a>
</div>-->

<!-- Default Tour -->
<div id="help-text-dataTab" class="hide">
    <p>The Data tab is where you'll find the data layers available for viewing.</p>
    <ol>
        <li>Click on a Theme to show the Data Layers available for you to view
        <li>Select one or more Data Layers to display it on the map
        <li>Use the search box to find layer by name
    </ol>
    <!--<p>Clicking on the Themes in the Data tab will expose the Layers.  And clicking on the Layers will display the data on the Map.</p>-->
    <!-- <p><a id="start-data-tour" href="#">Tour the Data tab</a></p> -->
</div>
<div id="help-text-data-tour-form-search" class="hide">
    <p>Not sure where to look? </p>
    <p>The auto-complete search field helps you locate and view data.</p>
    <ol>
        <li>Enter your search term into the search box
        <li>Select from the list of auto-complete options
        <li>And the theme containing your layer will be expanded to show its location and your layer will be shown on the map
    </ol>
</div>
<div id="help-text-activeTab" class="hide">
    <p>Switching to the Active tab allows you to customize the data you selected from the Data tab.</p>
    <p>From the Active tab you can adjust the ordering of the layers, change their transparency, and turn them on and off.</p>
    <!--<p>Find Out How by <a id="start-active-tour" href="#">Touring the Active tab</a></p>-->
</div>
<div id="help-text-legendTab" class="hide">
    <p>Legend symbols are listed under the Legend tab.</p>
    <p>Adjusting the layer ordering in the Active tab will cause a re-ordering in the Legend tab as well.</p>
</div>
<div id="help-text-form-search" class="hide">
    <p>The auto-complete search field helps you locate and view data.</p>
    <ol>
        <li>Enter your search term into the search box
        <li>Select from the list of auto-complete options
        <li>And the theme containing your layer will be expanded to show its location and your layer will be shown on the map
    </ol>
</div>
<div id="help-text-olControlZoom" class="hide">
    <p>Use the + and - to zoom in and zoom out. Go ahead, Try it! </p>
    <p>You can also zoom in to a particular area on the map: </p>
    <ol>
        <li>Hold down the shift key
        <li>Then with the mouse button pressed, drag the mouse across the map (the zoom area will be shown on the map)
        <li>Release the mouse button when the zoom area is complete
    </ol>
</div>
<div id="help-text-basemaps" class="hide">
    <p>The map includes the following specialized features allowing you to: </p>
    <ol>
        <li>Change the underlying Basemap (e.g. satellite or road map)
        <li>Use Bookmarks to create, store, or share your personalized map views with friends
        <li>Export your personalized map view as a URL or an Embedded Map
        <li>View the map in Full Screen (not applicable in some internet viewers)
    </ol>
</div>
<div id='help-text-search-map' class="hide">
  <p>You can search for a specific map location by typing it into this 'Search the Map' box.</p>
  <p>A location can be any of the following:</p>
  <ul>
    <li>The name of a town or landmark like 'Crater Lake'</li>
    <li>An address such as '721 NW 9th ave, Portland, OR'</li>
    <li>Geographic Coordinates like '44.660972, -120.273394'</li>
  </ul>
</div>
<div id="help-text-minimize-icon" class="hide">
    <p>The left panel can also be minimized to make more room for the map viewer.</p>
</div>
<div id="help-text-project-logo" class="hide">
    <p>Click on the Our Florida Reefs logo at any time to return to our homepage.</p>
</div>

<!-- Data Tab Tour -->
<div id="help-text-data-tour-dataTab" class="hide">
    <p>The Data tab is where you'll find the data layers available for viewing.</p>
    <ol>
        <li>Click on a Theme to show the its Data Layers available for you to view
        <li>Select one or more Data Layers to display it on the map
    </ol>
    <!-- <p><a name="start-default-tour" href="#">Return to the Basic Tour</a></p> -->
</div>
<div id="help-text-data-tour-theme" class="hide" style="margin-top: 20px">
    <p>Clicking on the Themes will expand/contract the list of available Data Layers and/or Subthemes.</p>
</div>
<div id="help-text-data-tour-layer" class="hide" style="margin-top: 20px">
    <p>Clicking on the Layer names will display the data on the map.</p>
</div>
<div id="help-text-data-tour-info-sign" class="hide">
    <p>Clicking on the info button <i class="icon-info-sign icon-large"></i> will display the layer description in a separate pop up window.</p>
    <p>This includes descriptive information, the source of the data, and links for download and further exploration.</p>
</div>

<!-- Active Tab Tour -->
<div id="help-text-active-tour-activeTab" class="hide">
    <p>Switching to the Active tab allows you to customize the data activated from the Data tab.</p>
    <!-- <p><a name="start-default-tour" href="#">Return to the Basic Tour</a></p>             -->
</div>
<div id="help-text-active-tour-layer-button" class="hide">
    <p>You can quickly turn layers on and off by clicking here.</p>
</div>
<div id="help-text-active-tour-opacity-button" class="hide">
    <p>Clicking on the transparency button gives you control over the layer's transparency on the map.</p>
</div>
<div id="help-text-active-tour-deactivate-button" class="hide">
    <p>You can remove a layer from the Active tab by selecting the <i class="icon-remove"></i> button (don't worry, you can activate it again under the Data tab).</p>
</div>
<div id="help-text-active-tour-ui-sortable" class="hide">
    <p>The ordering of the layers on the map (which layers are "on top" of other layers) is the same as the ordering in the Active panel.</p>
    <p>To change the order of the layers simply drag-and-drop the layer to the desired position in the list of layers.</p>
</div>

<!-- Report Tool Tour -->
<div id="help-text-report-tour-toolsTab" class="hide">
    <p>Switching to the <b>TOOLS</b> tab allows you to generate reports about given areas.</p>
    <p>This tool allows you to draw an arbitrary shape anywhere in Oregon and learn about the strategy species, habitats, and any Conservation Opportunity Areas that may be found there.</p>
</div>

<div id="help-text-report-tour-report-panel" class="hide">
    <p>The <b>GENERATE STRATEGY REPORT</b> panel will show you all drawings that you have generated reports for.</p>
</div>

<div id="help-text-report-tour-new-button" class="hide">
    <p>The <b>+ NEW</b> button creates a new report record for you to customize.</p>
</div>

<div id="help-text-report-tour-modal-step1" class="hide">
    <ol>
      <li>Click on the map to begin drawing.</li>
      <li>Click again to drop a new point along your drawing's perimeter.</li>
      <li>Double-Click to drop your last point and stop drawing.</li>
      <li>Your drawing will be snapped to the outline of the planning units (hexagons) selected.</li>
    </ol>
    <p><b>NOTE:</b> You will be able to edit any mistakes later.</p>
</div>

<div id="help-text-report-tour-modal-step2" class="hide">
  <ol>
    <li>If not perfectly happy with your drawing, click on the <b>'Edit Shape'</b> button  in the left panel to begin editing.</li>
    <li>Your original drawing will be shown with bright circles at your points and faded circles in the middle of each edge.</li>
    <li>Click and drag any faded circle to create a new point along the perimeter of your drawing.</li>
    <li>Click and drag any bright circles to move your existing points.</li>
    <li>When finished, click the <b>'Done Editing'</b> button in the left panel, then click the <b>'Next >'</b> button to continue.</li>
  </ol>
  <p><b>NOTE:</b> the <b>'Next >'</b> button will be disabled while editing.</p>
</div>

<div id="help-text-report-tour-modal-step3" class="hide">
  <ol>
    <li>After editing your drawing you will need to give it a name, and optionally a description.</li>
    <li>Be sure to make your entries meaningful as they will appear in any reports you export.</li>
    <li>Once you've clicked save, your drawing will appear in the <b>TOOLS</b> tab, from which you may:
      <ul>
        <li>Toggle the drawing visibility,</li>
        <li>Make the map zoom to your drawing,</li>
        <li>Permanently delete your drawing.</li>
      </ul>
    </li>
  </ol>
  <p><b>NOTE:</b> Drawings are not permanently stored. If you refresh the page they will be lost.</p>
</div>

<div id="help-text-report-tour-modal-step4" class="hide">
  <ol>
    <li>When you finish creating your drawing a report about the area with links to the Conservation Strategy will appear to the right covering:
      <table>
        <tr>
          <td>Total Area</td>
          <td>Ecoregions</td>
          <td>Conservation Opportunity Areas</td>
        </tr>
        <tr>
          <td>Strategy Habitats</td>
          <td>Documented Strategy Fish</td>
          <td>Observed Strategy Wildlife</td>
        </tr>
        <tr>
          <td>Modeled Strategy Wildlife Habitat</td>
        </tr>
      </table>
    </li>
    <li>Clicking <b>'Export'</b> will give you the option of downloading the tabular data or viewing a printable version</li>
    <li>The print version contains its own map. Using your browser you can even print this to a .pdf file.</li>
  </ol>
</div>

<style type="text/css">
#pageGuideMessage {
    left: 10px !important;
    width: 85% !important;
}
</style>
