{% extends "explore_base.html" %}
{% block main %}
{% load appname %}

<h4>Your {% appname %} password reset request was successful</h4>

<div style="min-height: 400px">
    <p>We've e-mailed you instructions for re-setting your password. You should be receiving it shortly.</p>
    <p>If you don't receive an email, please contact us at <a href="mailto:{% help_email %}?subject={% appname %} Help">{% help_email %}</a>.
    <p><a type="button" href="/visualize/" class="btn">Return to {% appname %}</a>
</div>
    
{% endblock %}
